extends layout

block header

block content
 
  p
    | This is a list of git commit build slugs. Each slug is a discrete copy of the 
    | codebase at a specific commit point. The name of the slug is the first 10 digits
    | of the sha commit. To start/restart a commit use the option. When you are done
    | with a slug, you need to stop and delete the build. This will remove the codebase
    | and stop any process bound.

  a(class="btn btn-primary", href="/configurations/add") Add New Configuration
  br
  br

  table.table-striped.table.table-hover
   tr
    th(width="20%")
     | Label
    th(width="60%")
     | Notes
    th(width="10%")

    - if (!configurations || configurations.length == 0) 
       tr
        td(colspan="4")
         | No Configurations defined.
    - else
      each config, i in configurations
       tr
        td
         | #{config.name}
        td
         | #{config.notes}
        td
          a(href="/configurations/edit/#{config._id}?process_type=load", class="btn btn-primary") Edit

