extends layout

block header

block content

    h3 Addons for '#{app_name}'

    p The following is a list of contributors who have access to this project. 

    br

    .row-fluid
      .span12
        button(class="btn btn-small", onclick="alert('Coming soon...');") Add New Contributor

        br
        br

        table.table-striped.table.table-hover
         tr
          th(width="20%")
           | Addon Plan Name
          th(width="40%")
           | ID
          th(width="20%")

          - if (!data || data.length == 0) 
             tr
              td(colspan="5")
               | No processes started.
          - else
            each addon in data
             tr
              td=addon.plan.name
              td=addon.id
              td
               button(class="btn btn-small", onclick="alert('Coming soon...');") Remove

        a(class="btn btn-primary", href="/heroku/apps") Return to App List