extends layout

block header

  link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet')

block content

  p
    | Weclcome to the Node CI UI. To get started you need to login.
  p
    a(href="/login", class="btn btn-primary") Login Now
  br
  br
  br
  br

  div#swagger-ui-container
    
