doctype 5
html(lang="en")
  head
    title
      | CI Node Manager
    meta(name='charset', content='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/assets/css/bootstrap-responsive.css')

    style
      body { 
        padding-top: 60px;
        padding-bottom: 40px;
      }

    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/bootstrap.js')

    script(src='/assets/js/bootstrap-popover.js')
    script(src='/assets/js/bootstrap-tooltip.js')

    block header

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class='brand', href='/') Node CI
          div.nav-collapse.collapse
            ul.nav
              li.dropdown
                a(href='#', class='dropdown-toggle', data-toggle='dropdown') Resources <b class='caret'></b>
                ul.dropdown-menu.hidden-phone
                  li
                    a(href='/list') Sites
                  li
                    a(href='/sites') Builds
                  li
                    a(href='/configurations') Configurations
                   li.divider
                  li
                    a(href='/plots') Reports
                    
              li.dropdown
                a(href='#', class='dropdown-toggle', data-toggle='dropdown') Git <b class='caret'></b>
                ul.dropdown-menu.hidden-phone
                  li
                    a(href='/git') Commits
                  li
                    a(href='/branches') Branches
                  li
                    a(href='/teams') Team Members

              li.dropdown
                a(href='/tests') Tests


              if (session.user && session.user.github)
                li.dropdown
                  a(href='#', class='dropdown-toggle', data-toggle='dropdown') #{session.user.github.name || session.user.name}  <b class='caret'></b>
                  ul.dropdown-menu.hidden-phone
                    li
                      a(href='/account') Account
                    li.divider
                    li
                      a(href='/logout') Logout

    div.container-fluid

      - if (messages) 
        each message in messages
          div(class="alert alert-#{message.type || 'info'}")
            button(type="button", class="close", data-dismiss="alert") &times;
            | #{message.copy}

      block content

      hr

      footer
        p 




