extends layout

block header

block content
 
  p
    | Sample Plugins Page

  table.table-striped.table.table-hover
   tr
    th(width="10%")
     | Version
    th(width="20%")
     | Name
    th(width="60%")
     | Description

    - if (!data || data.length == 0) 
       tr
        td(colspan="4")
         | No Plugins started.
    - else
      each plugin in data
       tr
        td
         | #{plugin.version}
        td
         | #{plugin.name}
        td
         | #{plugin.description}
