extends layout

block header

block content
 
  p
    | This is a list of git commit build slugs. Each slug is a discrete copy of the 
    | codebase at a specific commit point. The name of the slug is the first 10 digits
    | of the sha commit. To start/restart a commit use the option. When you are done
    | with a slug, you need to stop and delete the build. This will remove the codebase
    | and stop any process bound.

  table.table-striped.table.table-hover
   tr
    th(width="10%")
     | SHA Commit
    th(width="20%")
     | Site Status
    th(width="65%")
     | Path
    th(width="10%")

    - if (!data || data.length == 0) 
       tr
        td(colspan="4")
         | No processes started.
    - else
      each commit, i in data
       tr
        td
         | #{commit}
        td
         | Coming Soon...
        td
         | /tmp/#{commit}
        td
         a(href="/start/#{commit}", class="btn btn-primary") Start/Restart
